@font-face {
  font-family: 'Gotham_Pro_Bold';
  src: url('~@/assets/fonts/GothamProBold/GothamProBold.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro';
  src: url('~@/assets/fonts/GothamProLight/GothamProLight.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro_Medium';
  src: url('~@/assets/fonts/GothamProMedium/GothamProMedium.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro_Regular';
  src: url('~@/assets/fonts/GothamProRegular/GothamProRegular.woff');
  font-weight: normal;
  font-style: normal;
}
